@font-face {
    font-family: "iconfont";
    src: url('//at.alicdn.com/t/c/font_3601776_9pc2cqe517c.woff2?t=1662987249926') format('woff2'), url('//at.alicdn.com/t/c/font_3601776_9pc2cqe517c.woff?t=1662987249926') format('woff'), url('//at.alicdn.com/t/c/font_3601776_9pc2cqe517c.ttf?t=1662987249926') format('truetype');
}

.iconfont {
    font-family: "iconfont" !important;
    font-size: 22px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-iconzhengli-:before {
    content: "\e60d";
}

.icon-github:before {
    content: "\e650";
}

.icon-wyy:before {
    content: "\e600";
}

.icon-bilibili:before {
    content: "\e628";
}

.icon-weixin:before {
    content: "\e620";
}

.icon-QQ:before {
    content: "\e667";
}

.icon-wangzhandingzhi:before {
    content: "\e69d";
}

.icon-a-wangzhanchaojilianjiehulianwang:before {
    content: "\e751";
}

.icon-musical-note:before {
    content: "\e606";
}

.icon-fenlei:before {
    content: "\e637";
}

.icon-shouye:before {
    content: "\e6bb";
}

.icon-lianxiwomen:before {
    content: "\e61a";
}

.icon-shijian:before {
    content: "\ed04";
}

.icon-biaoqian:before {
    content: "\e765";
}