@font-face {
  font-family: "iconfont"; /* Project id 3857115 */
  /* Color fonts */
  src: 
       url('//at.alicdn.com/t/c/font_3857115_6jjb96bgagq.woff2?t=1673252361547') format('woff2'),
       url('//at.alicdn.com/t/c/font_3857115_6jjb96bgagq.woff?t=1673252361547') format('woff'),
       url('//at.alicdn.com/t/c/font_3857115_6jjb96bgagq.ttf?t=1673252361547') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-liuyan:before {
  content: "\e680";
}

.icon-biaoqian_1:before {
  content: "\e6a8";
}

